:root {
    --bg-color: #fcf4ef;
    --card-bg: #fae9df;
    --text-dark: #3a2e28;
    --text-light: #8b7d76;
    --accent: #ff9466;
    --accent-hover: #fa804d;
    --overline: #a67c52;
    --white: #ffffff;
    --map-bg: #b5b5b5;
    font-family: 'Nunito', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
    color: var(--text-dark);
    min-height: 100vh;
}

#app {
    width: 100%;
    max-width: 414px;
    background-color: var(--bg-color);
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    overflow-x: hidden;
}